html {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    min-height: 200vh;
    margin: 0;
    padding: 0;
    border: 0;
}
footer {
    padding: 1.7vmin;
    font-size: 16px;
    font-family: sans, sans-serif;
    color: #333;
}

a {
    color: inherit;
    font-style: italic;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;
    background-color: #EEE;
    box-sizing: border-box;
    padding: 12px 18px;
    box-shadow: 0 4px 7px #777;
    transition: background-color 0.4s ease-out;
}

nav span {
    font-weight: 600;
    letter-spacing: .085em;
}

nav button {
    position: absolute;
    top: 0;
    transform: translateY(50%);
    right: 0;
    min-height: 1.5em;
    min-width: 80px;
    background-color: #eee;
    color: #222;
    border: 0;
    border-radius: 2px;
    margin-right: 18px;
    text-transform: uppercase;
}

nav.scroll {
    background-color: #A1572F;
    color: #eef;
}


div {
    background-color: ghostwhite;
}

p {
    background-color: lightskyblue;
}
body {
    height: 200vh;
    margin: 0 0;
    padding: 0 0;
}

.header {
    position: fixed;
    z-index: 1000;
    height: 100px;
    width: 100%;
    background: rgba(34,34,34,0.25);
    padding: 18px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

.active {
    background-color: rgba(34,34,34,0.8);
}